/** HEADER **/

#header-nav {
	background-color: #008080;
	border-radius: 0;
	border: 0;
}

.navbar-brand {
	padding-top: 25px;
}

.navbar-brand h1 { /* Name */
	color: #ff7f50;
	text-transform:uppercase;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 0px;
	line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}

#nav-list {
	margin-top: 10px;
}

#nav-list a {
	color: blue;
	text-align: center;
}

#nav-list a:hover {
	background: azure;
}

#nav-list a span {
	font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px solid black;	
}

.navbar-header button.navbar-toggle {
	clear: both;
	margin-top: -30px;
}

/** END HEADER **/

/** BODY **/

h2 {
	
	text-align: center;
}

h3 {
	
	text-align: center;
}

p {
	text-align: center;

}

/***large devices***/
@media (min-width: 1200px) {

.col-lg-12 {
	position: relative;
	width: 100%;
	float: left;
	padding: 5px;
	background-color: grey;
	margin: 5px;
	
}
}

/**medium devices**/
@media (min-width: 992px) and (max-width: 1199px) {

.col-md-12 {

	position: relative;
	width: 100%;
	float: left;
	padding: 5px;
	background-color: grey;
	margin: 5px;
	

}
}

/**small devices**/
@media (min-width: 768px) and (max-width: 991px) {

.col-sm-12 {
	position: relative;
	width: 100%;
	float: left;
	padding: 5px;
	background-color: grey;
	margin: 5px;
}
}

/**extra small devices **/
@media (max-width: 767px) {

//**HEADER**/

.navbar-brand {
	padding-top: 10px;
	height: 80px;
}
.navbar-brand h1 {
	padding-top: 10px;
	font-size: 5vw;
}
.col-xs-12
	{
	position: relative;
	width: 100%;
	float: left;
	padding: 5px;
	background-color: grey;
	margin: 5px;

}
}


